*{
	margin: 0;
	padding: 0;
}

#heading{
	font-size: 20px;
	color: aliceblue;
	font-family: 'Arial';
}

#license{
	font-size: 15px;
}

#header{
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #303030;
}