*{
	margin: 0;
	padding: 0;
}

#heading{
	margin: 2%;
	font-size: 2rem;
	color: aliceblue;
	font-family: 'Arial';
}

#license{
	font-size: 1rem;
	font-family: 'Arial';
	color: lightgrey;
}

#header{
	padding: 3% 3%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	background-color: #303030;
	flex-wrap: wrap;
}

#body{
  height: 100vh;
  background-image: url('Image.jpg');
  background-size: contain;
  background-attachment: fixed;
}

#category-header{
	color: aliceblue;
	height: 59px;
	font-family: 'Arial', sans-serif;
}